{{define "nav-main"}}

<nav>
    <ul>
        <li><a href= "/index">Index</a></li>
        <li><a href= "/about">About</a></li>
        <li><a href= "/contact">Contact</a></li>
        <li><a href= "/signin">Sign in</a></li>
    </Ul>  
</nav>

{{end}}